* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #0F2167;
}

h1 {
    text-align: center;
    color: #FFECD6;
    margin: 50px 0;
    font-size: 2.5em;
}

.drumkitImg {
    text-align: center;
}

.drumkitImg img {
    width: 500px;
}

#drumBtns {
    margin: 80px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.key {
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: 3px solid #596FB7;
    transition: all 0.10s ease;
    width: 8em;
    font-size: 1.2em;
    margin: 10px;
}

.key span,
.key p {
    color: #F6ECA9;
    text-transform: uppercase;
}

.key span {
    font-size: 1.8em;
    color: #FFF;
}

.key-active {
    background: #596FB7;
    color: #596FB7;
}