* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: #0F1035;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #DCF2F1;
    margin: 25px 0;
    font-size: 2.5em;
}

#bands {
    list-style: inside square;
    font-size: 20px;
    background: white;
    width: 500px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
  }

  #bands li {
    border-bottom: 1px solid #efefef;
    padding: 20px;
  }

  #bands li:last-child {
    border-bottom: 0;
  }

  a {
    color: #ffc600;
    text-decoration: none;
  }